<?xml version="1.0" encoding="utf-8"?>
<Content Key="c55d7d02-1629-49c4-a9c2-f93dbba7a6d0" Alias="2025-11-05 19:23 - Emanuel Gustafzon" Level="2">
  <Info>
    <Parent Key="8e046614-0a3c-4b18-ba3d-2f7d5e333de6">Call Back Form Submissions</Parent>
    <Path>/CallBackFormSubmissions/EmanuelGustafzon</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-05T19:23:02</CreateDate>
    <NodeName Default="2025-11-05 19:23 - Emanuel Gustafzon" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackRequestEmail>
      <Value><![CDATA[emanuel@gmail.com]]></Value>
    </callBackRequestEmail>
    <callBackRequestName>
      <Value><![CDATA[Emanuel Gustafzon]]></Value>
    </callBackRequestName>
    <callBackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callBackRequestOption>
    <callBackRequestPhone>
      <Value><![CDATA[0761]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>