<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e925e7f-1d2c-41f3-876d-7d3bc3752fae" Alias="2025-11-09 19:55 - Emanuel Gustafzon" Level="2">
  <Info>
    <Parent Key="8e046614-0a3c-4b18-ba3d-2f7d5e333de6">Call Back Form Submissions</Parent>
    <Path>/CallBackFormSubmissions/EmanuelGustafzon</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-09T19:55:55</CreateDate>
    <NodeName Default="2025-11-09 19:55 - Emanuel Gustafzon" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackRequestEmail>
      <Value><![CDATA[emanuel.gustafzon@gmail.com]]></Value>
    </callBackRequestEmail>
    <callBackRequestName>
      <Value><![CDATA[Emanuel Gustafzon]]></Value>
    </callBackRequestName>
    <callBackRequestOption>
      <Value><![CDATA[Financial_Consulting]]></Value>
    </callBackRequestOption>
    <callBackRequestPhone>
      <Value><![CDATA[0761888619]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>