<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3fe1bfd-9a54-4c26-ac61-1d2f8f8be762" Alias="2025-11-08 23:12 - emanuel.gustafzon@gmail.com" Level="2">
  <Info>
    <Parent Key="36ff937d-3d4b-4b9c-a4e0-7712e564f062">Support Form Submissions</Parent>
    <Path>/SupportFormSubmissions/emanuelgustafzonGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-08T23:12:56</CreateDate>
    <NodeName Default="2025-11-08 23:12 - emanuel.gustafzon@gmail.com" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <SupportRequestEmail>
      <Value><![CDATA[emanuel.gustafzon@gmail.com]]></Value>
    </SupportRequestEmail>
  </Properties>
</Content>