<?xml version="1.0" encoding="utf-8"?>
<Content Key="c40149e3-8ed3-4557-8366-1966026b37b1" Alias="2025-11-07 23:02 - Emanuel Gustafzon" Level="2">
  <Info>
    <Parent Key="ddd448c1-7e80-400a-983e-de27205ec0e2">Question Form Submissions</Parent>
    <Path>/QuestionFormSubmissions/EmanuelGustafzon</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-07T23:02:26</CreateDate>
    <NodeName Default="2025-11-07 23:02 - Emanuel Gustafzon" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackRequestEmail>
      <Value><![CDATA[emanuel.gustafzon@gmail.com]]></Value>
    </callBackRequestEmail>
    <callBackRequestName>
      <Value><![CDATA[Emanuel Gustafzon]]></Value>
    </callBackRequestName>
    <callBackRequestOption>
      <Value><![CDATA[]]></Value>
    </callBackRequestOption>
    <callBackRequestPhone>
      <Value><![CDATA[hej]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>