<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1944fc4-6a8d-4eac-80b5-9da1d34ea37b" Alias="2025-11-08 23:29 - emanuel.gustafzon@gmail.com" Level="2">
  <Info>
    <Parent Key="36ff937d-3d4b-4b9c-a4e0-7712e564f062">Support Form Submissions</Parent>
    <Path>/SupportFormSubmissions/emanuelgustafzonGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-08T23:29:57</CreateDate>
    <NodeName Default="2025-11-08 23:29 - emanuel.gustafzon@gmail.com" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <SupportRequestEmail>
      <Value><![CDATA[emanuel.gustafzon@gmail.com]]></Value>
    </SupportRequestEmail>
  </Properties>
</Content>