<?xml version="1.0" encoding="utf-8"?>
<Content Key="89b776f0-0230-4b6d-a940-63969b51a222" Alias="2025-11-08 21:39 - Emanuel Gustafzon" Level="2">
  <Info>
    <Parent Key="ddd448c1-7e80-400a-983e-de27205ec0e2">Question Form Submissions</Parent>
    <Path>/QuestionFormSubmissions/EmanuelGustafzon</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-08T21:39:28</CreateDate>
    <NodeName Default="2025-11-08 21:39 - Emanuel Gustafzon" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[emanuel.gustafzon@gmail.com]]></Value>
    </questionRequestEmail>
    <questionRequestMessage>
      <Value><![CDATA[hej]]></Value>
    </questionRequestMessage>
    <questionRequestName>
      <Value><![CDATA[Emanuel Gustafzon]]></Value>
    </questionRequestName>
  </Properties>
</Content>