<?xml version="1.0" encoding="utf-8"?>
<Content Key="158ae28e-fc9c-41cc-91c8-03650bb4f860" Alias="2025-11-07 22:56 - Emanuel Gustafzon" Level="2">
  <Info>
    <Parent Key="8e046614-0a3c-4b18-ba3d-2f7d5e333de6">Call Back Form Submissions</Parent>
    <Path>/CallBackFormSubmissions/EmanuelGustafzon</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-07T22:56:06</CreateDate>
    <NodeName Default="2025-11-07 22:56 - Emanuel Gustafzon" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackRequestEmail>
      <Value><![CDATA[emanuel.gustafzon@gmail.com]]></Value>
    </callBackRequestEmail>
    <callBackRequestName>
      <Value><![CDATA[Emanuel Gustafzon]]></Value>
    </callBackRequestName>
    <callBackRequestOption>
      <Value><![CDATA[Financial_Consulting]]></Value>
    </callBackRequestOption>
    <callBackRequestPhone>
      <Value><![CDATA[0761888619]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>