<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6c5a11c-dec9-4203-bd83-2d4781a42999" Alias="2025-11-08 21:05 - emanuel.gustafzon@gmail.com" Level="2">
  <Info>
    <Parent Key="36ff937d-3d4b-4b9c-a4e0-7712e564f062">Support Form Submissions</Parent>
    <Path>/SupportFormSubmissions/emanuelgustafzonGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportRequest</ContentType>
    <CreateDate>2025-11-08T21:06:12</CreateDate>
    <NodeName Default="2025-11-08 21:05 - emanuel.gustafzon@gmail.com" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <SupportRequestEmail>
      <Value><![CDATA[emanuel.gustafzon@gmail.com]]></Value>
    </SupportRequestEmail>
  </Properties>
</Content>