<?xml version="1.0" encoding="utf-8"?>
<Content Key="81fc654f-f60e-45ad-b451-68b2d80aaa91" Alias="2025-11-05 19:23 - Emanuel Gustafzon (1)" Level="2">
  <Info>
    <Parent Key="8e046614-0a3c-4b18-ba3d-2f7d5e333de6">Call Back Form Submissions</Parent>
    <Path>/CallBackFormSubmissions/EmanuelGustafzon1</Path>
    <Trashed>false</Trashed>
    <ContentType>callBackRequest</ContentType>
    <CreateDate>2025-11-05T19:23:54</CreateDate>
    <NodeName Default="2025-11-05 19:23 - Emanuel Gustafzon (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackRequestEmail>
      <Value><![CDATA[gustafzon@gmail.com]]></Value>
    </callBackRequestEmail>
    <callBackRequestName>
      <Value><![CDATA[Emanuel Gustafzon]]></Value>
    </callBackRequestName>
    <callBackRequestOption>
      <Value><![CDATA[Tax_Planing]]></Value>
    </callBackRequestOption>
    <callBackRequestPhone>
      <Value><![CDATA[619]]></Value>
    </callBackRequestPhone>
  </Properties>
</Content>