<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bb69683-f950-40dd-88b0-251fe1ecb778" Alias="About" Level="2">
  <Info>
    <Parent Key="287e1a8b-d401-409f-bca5-6ac6e7cfb216">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-04T16:56:41</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7493a370-93d2-44cc-bb90-f77e533f5bba">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[]]></Value>
    </sections>
  </Properties>
</Content>