<?xml version="1.0" encoding="utf-8"?>
<Content Key="246bedfd-35cc-416b-b7c3-98928ded544f" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="0674950e-f58e-48b8-9a3f-d22b267eeab5">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-30T18:27:43</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86973c84-21d1-457c-8bf5-9126b77cfa75">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideWidgets>
      <Value><![CDATA[]]></Value>
    </asideWidgets>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f86778a6-4afb-47f0-bde6-00f6ba3ea3dd",
      "key": "f2e05d82-b7a9-42ca-93a6-f2046f92467d",
      "udi": null,
      "values": [
        {
          "alias": "footerBannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "footerBannerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "25c21d78-60b1-4b83-91f5-de0181595a93",
              "mediaKey": "70262cc9-0d73-4ab5-8ce9-df7fde8b5015",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f2e05d82-b7a9-42ca-93a6-f2046f92467d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f2e05d82-b7a9-42ca-93a6-f2046f92467d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailPageContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailPageContent>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "4c1b117a-5f4f-442f-953e-6df01aab53e3",
    "mediaKey": "c6cd9d7a-e666-4ba3-b144-6a3908a51a6f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>