<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a116501-40e6-4475-ac6a-a37f4f3ed1d8" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="0674950e-f58e-48b8-9a3f-d22b267eeab5">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-30T18:28:09</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86973c84-21d1-457c-8bf5-9126b77cfa75">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideWidgets>
      <Value><![CDATA[]]></Value>
    </asideWidgets>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f86778a6-4afb-47f0-bde6-00f6ba3ea3dd",
      "key": "9fe85240-76c5-4040-98ef-232d76b8cf33",
      "udi": null,
      "values": [
        {
          "alias": "footerBannerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c09a2785-881c-4c0a-9691-8266178bc1a3",
              "mediaKey": "70262cc9-0d73-4ab5-8ce9-df7fde8b5015",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "footerBannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9fe85240-76c5-4040-98ef-232d76b8cf33",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9fe85240-76c5-4040-98ef-232d76b8cf33",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailPageContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailPageContent>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "e9692c3c-411b-4d32-a3e8-15aac2b6f879",
    "mediaKey": "8f5c5054-54ec-4e75-8cc3-1654ccc4b9b6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>