<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e046614-0a3c-4b18-ba3d-2f7d5e333de6" Alias="Call Back Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CallBackFormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>formSubmissions</ContentType>
    <CreateDate>2025-11-05T18:50:23</CreateDate>
    <NodeName Default="Call Back Form Submissions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>