<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2387c12-68aa-45be-809d-68a32ad6be9f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="287e1a8b-d401-409f-bca5-6ac6e7cfb216">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T19:10:09</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48364355-a582-49fb-8e03-a4c882e8b452">ContactPage</Template>
  </Info>
  <Properties />
</Content>