<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2387c12-68aa-45be-809d-68a32ad6be9f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="287e1a8b-d401-409f-bca5-6ac6e7cfb216">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T19:10:09</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48364355-a582-49fb-8e03-a4c882e8b452">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f86778a6-4afb-47f0-bde6-00f6ba3ea3dd",
      "key": "a5fb80da-82e7-44a8-8ba1-048203e0b9e6",
      "udi": null,
      "values": [
        {
          "alias": "footerBannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "footerBannerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a58bc202-878a-41d4-a824-18de5008d9e8",
              "mediaKey": "70262cc9-0d73-4ab5-8ce9-df7fde8b5015",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a5fb80da-82e7-44a8-8ba1-048203e0b9e6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a5fb80da-82e7-44a8-8ba1-048203e0b9e6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>