<?xml version="1.0" encoding="utf-8"?>
<Content Key="a140232c-1494-49b3-8c83-8c4c9deba670" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="0674950e-f58e-48b8-9a3f-d22b267eeab5">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-30T18:26:51</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86973c84-21d1-457c-8bf5-9126b77cfa75">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideWidgets>
      <Value><![CDATA[]]></Value>
    </asideWidgets>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f86778a6-4afb-47f0-bde6-00f6ba3ea3dd",
      "key": "989a557e-051c-4cf5-918a-7f9fbda6fba1",
      "udi": null,
      "values": [
        {
          "alias": "footerBannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "footerBannerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bca7a4c4-433f-43c4-b957-668b3e412e52",
              "mediaKey": "70262cc9-0d73-4ab5-8ce9-df7fde8b5015",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "989a557e-051c-4cf5-918a-7f9fbda6fba1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "989a557e-051c-4cf5-918a-7f9fbda6fba1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailPageContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailPageContent>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "58fa5d66-3f25-4740-9fb5-643675e4a154",
    "mediaKey": "21112652-43cc-41f1-8c22-04f0370bf7b3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>