<?xml version="1.0" encoding="utf-8"?>
<Content Key="287e1a8b-d401-409f-bca5-6ac6e7cfb216" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-28T12:38:55</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="474e455e-5886-4dc0-8709-d6da84be1e92">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e820a6db-c95b-4284-acf3-c160a48bec31",
      "key": "11b4f82b-d88a-4d5f-99d0-dabc60e1e6a3",
      "udi": null,
      "values": [
        {
          "alias": "heroImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b5bf0560-67fb-4936-af2a-465ccc5f9029",
              "mediaKey": "f931c55e-4075-40d1-b827-9ff4d0f85435",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Bring Success To You"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/f2387c1268aa45be809d68a32ad6be9f",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "496f56ab-1a2c-42b5-bb61-98a4089d4ba6",
      "key": "446481cd-a7ec-4560-9e99-11881a007b16",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0cd00f97-7948-4dbd-8e61-95d732451f83",
      "key": "63deb6f5-8d12-4129-92ab-6f1ca8d85785",
      "udi": null,
      "values": [
        {
          "alias": "aboutUsLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "aboutUsTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutUsText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-lg font-light\u0022\u003E\u003Cem\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/em\u003E\u003C/p\u003E\u003Cp class=\u0022text-lg font-regular\u0022\u003E\u003C/p\u003E\u003Cp class=\u0022text-lg font-regular\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutUsSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a44383a8-84f4-4d9e-b7cc-117ff3cd235f",
              "mediaKey": "396b11c6-5b31-4ebe-9285-add4508287a6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "aboutUsSignatureName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c0156383-64dd-4afc-9085-edb2a7b80e88",
      "key": "08945bd7-7668-40b2-a096-d96d841d9e60",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "11b4f82b-d88a-4d5f-99d0-dabc60e1e6a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "446481cd-a7ec-4560-9e99-11881a007b16",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "63deb6f5-8d12-4129-92ab-6f1ca8d85785",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "11b4f82b-d88a-4d5f-99d0-dabc60e1e6a3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "63deb6f5-8d12-4129-92ab-6f1ca8d85785",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "446481cd-a7ec-4560-9e99-11881a007b16",
        "contentUdi": null,
        "settingsKey": "08945bd7-7668-40b2-a096-d96d841d9e60",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>