<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddd448c1-7e80-400a-983e-de27205ec0e2" Alias="Question Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionFormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>questionFormSubmissions</ContentType>
    <CreateDate>2025-11-07T17:07:44</CreateDate>
    <NodeName Default="Question Form Submissions" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>