<?xml version="1.0" encoding="utf-8"?>
<Content Key="0674950e-f58e-48b8-9a3f-d22b267eeab5" Alias="Services" Level="2">
  <Info>
    <Parent Key="287e1a8b-d401-409f-bca5-6ac6e7cfb216">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-30T18:24:23</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b6ff60ec-bebc-4f55-a18c-fcd9574be1a7">ServicePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "496f56ab-1a2c-42b5-bb61-98a4089d4ba6",
      "key": "09c568c0-6119-4667-a27d-bd1f0d81df81",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c0156383-64dd-4afc-9085-edb2a7b80e88",
      "key": "13ca5486-61bb-4f82-97a7-626368464bf4",
      "udi": null,
      "values": [
        {
          "alias": "serviceBackgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#fff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "09c568c0-6119-4667-a27d-bd1f0d81df81",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "09c568c0-6119-4667-a27d-bd1f0d81df81",
        "contentUdi": null,
        "settingsKey": "13ca5486-61bb-4f82-97a7-626368464bf4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>