<?xml version="1.0" encoding="utf-8"?>
<Content Key="d754c0a5-681f-4531-ac86-6c3026c3e930" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-28T13:27:36</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </address>
    <emailSales>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </emailSales>
    <logo>
      <Value><![CDATA[[
  {
    "key": "9efe708c-28e8-43b3-a5cb-b4e48277529c",
    "mediaKey": "2e5fa491-31b8-40d9-9c7c-a6f15d65fa86",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <phone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phone>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMedias>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7d4f6ec3-16ad-4b0f-9f7f-94ecd6062297",
      "key": "059262e0-5f10-4696-abf4-952fd1f8437e",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b43293a4-1445-4376-b377-1f847981eb17",
              "mediaKey": "2b7c8e7d-656f-4c98-8a3a-aab6dc0c36f0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "socialMediaName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Facebook"
        },
        {
          "alias": "socialMediaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "facebook",
              "target": null,
              "udi": null,
              "url": "https://www.facebook.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "7d4f6ec3-16ad-4b0f-9f7f-94ecd6062297",
      "key": "8f1d22a0-0be6-436c-bd5e-a5d0d0ab6d65",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ef85089a-33fa-473e-9e49-4dc7d2d4d09c",
              "mediaKey": "a6fbde8e-9f8e-4053-8ef7-b3143e89021b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "socialMediaName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Twitter"
        },
        {
          "alias": "socialMediaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Twitter",
              "target": null,
              "udi": null,
              "url": "https://www.twitter.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "7d4f6ec3-16ad-4b0f-9f7f-94ecd6062297",
      "key": "ccb34071-1942-4960-832a-73f3a441bdbd",
      "udi": null,
      "values": [
        {
          "alias": "socialMediaLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "62876ee4-264f-4148-a71b-f6eff1b860d7",
              "mediaKey": "b4a424b8-fdd0-4f36-b24b-60ae4ba1726a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "socialMediaName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Linkedin"
        },
        {
          "alias": "socialMediaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Linkedin",
              "target": null,
              "udi": null,
              "url": "https://www.linkedin.com",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "059262e0-5f10-4696-abf4-952fd1f8437e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8f1d22a0-0be6-436c-bd5e-a5d0d0ab6d65",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ccb34071-1942-4960-832a-73f3a441bdbd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "059262e0-5f10-4696-abf4-952fd1f8437e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8f1d22a0-0be6-436c-bd5e-a5d0d0ab6d65",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ccb34071-1942-4960-832a-73f3a441bdbd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMedias>
  </Properties>
</Content>