<?xml version="1.0" encoding="utf-8"?>
<Content Key="76d708b9-1ae7-4a9b-a8d5-c2d4ffc4cb00" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="0674950e-f58e-48b8-9a3f-d22b267eeab5">Service Page</Parent>
    <Path>/Home/ServicePage/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-30T18:25:54</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86973c84-21d1-457c-8bf5-9126b77cfa75">ServiceDetails</Template>
  </Info>
  <Properties>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "85b85490-aa8e-4f07-a7bd-451d156830ef",
    "mediaKey": "e15266ee-816a-4afd-aea9-6f001b5f687b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>