<?xml version="1.0" encoding="utf-8"?>
<Content Key="76d708b9-1ae7-4a9b-a8d5-c2d4ffc4cb00" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="0674950e-f58e-48b8-9a3f-d22b267eeab5">Service Page</Parent>
    <Path>/Onatrix/ServicePage/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-30T18:25:54</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86973c84-21d1-457c-8bf5-9126b77cfa75">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideWidgets>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6540d571-eb3e-4d7f-919b-8b3f856e1f3f",
      "key": "dd7e849e-974a-42a2-a835-c0081244c709",
      "udi": null,
      "values": [
        {
          "alias": "infoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "887616f3-185f-4e40-a3f3-9d7f10184642",
              "mediaKey": "e15266ee-816a-4afd-aea9-6f001b5f687b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoCardHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "hsdjfkhsdkj fjkh jdshfkjhds jkhdsjkfdhkjhfkjdshkj hjkfdhs jsdf"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "dd7e849e-974a-42a2-a835-c0081244c709",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "dd7e849e-974a-42a2-a835-c0081244c709",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </asideWidgets>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailPageContent>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-3xl font-regular\u0022 style=\u0022text-align: center\u0022\u003E\u003Cstrong\u003E\u003Cspan class=\u0022text-primary\u0022\u003EHello\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cimg data-udi=\u0022umb://media/e15266ee816a4afdaea96f001b5f687b\u0022 src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022statistic advisors.png\u0022 width=\u0022500\u0022 height=\u0022297\u0022\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailPageContent>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "85b85490-aa8e-4f07-a7bd-451d156830ef",
    "mediaKey": "e15266ee-816a-4afd-aea9-6f001b5f687b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>