<?xml version="1.0" encoding="utf-8"?>
<Content Key="36ff937d-3d4b-4b9c-a4e0-7712e564f062" Alias="Support Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SupportFormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>supportFormSubmissions</ContentType>
    <CreateDate>2025-11-07T17:08:16</CreateDate>
    <NodeName Default="Support Form Submissions" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>