<?xml version="1.0" encoding="utf-8"?>
<Content Key="33990302-f48b-4416-93d5-d1c9a466a43b" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="0674950e-f58e-48b8-9a3f-d22b267eeab5">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetails</ContentType>
    <CreateDate>2025-10-30T18:27:16</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86973c84-21d1-457c-8bf5-9126b77cfa75">ServiceDetails</Template>
  </Info>
  <Properties>
    <asideWidgets>
      <Value><![CDATA[]]></Value>
    </asideWidgets>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f86778a6-4afb-47f0-bde6-00f6ba3ea3dd",
      "key": "26ff28e0-e4a7-4618-91b7-43fd95ed7287",
      "udi": null,
      "values": [
        {
          "alias": "footerBannerImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f41c5df8-7a05-4cd3-b933-37c3411ebd3d",
              "mediaKey": "70262cc9-0d73-4ab5-8ce9-df7fde8b5015",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "footerBannerTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "26ff28e0-e4a7-4618-91b7-43fd95ed7287",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "26ff28e0-e4a7-4618-91b7-43fd95ed7287",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailPageContent>
      <Value><![CDATA[]]></Value>
    </serviceDetailPageContent>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "60caca8c-60c3-4e3c-afe7-b6879f028c32",
    "mediaKey": "e7507c78-9bce-4bdb-945c-f78af8fd5daf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>