@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var contentRoot = Umbraco.ContentAtRoot();
    var siteSettings = contentRoot.OfType<SiteSettings>().FirstOrDefault();
    var siteName = siteSettings?.SiteName ?? "";
}

<footer class="py-4 bg-black px-4 md:px-36 inset-x-0 bottom-0">
    <p class="text-dark">© @siteName. All Rights Reserved. Credits to <span class="text-secondary text-bold">Themesflat</span></p>
</footer> 
