<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6521275-db28-4d4b-a76c-a1bbdf42e96a" Alias="callBackFormSubmissions" Level="2">
  <Info>
    <Name>Call Back Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="30432be8-d6e3-40cf-a8d9-bc20f8c9ae43" SortOrder="0">callBackRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>