<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5972fd2-1dbd-4a9f-97d0-5e8c0705e71f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="75ee2a31-acb0-4b28-9ed4-0ff77a92b3a2">pageMetaData</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="474e455e-5886-4dc0-8709-d6da84be1e92">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="80858f49-c13c-4772-b57c-8df98df84eff" SortOrder="0">contactPage</ContentType>
    <ContentType Key="47b1b673-938e-4cdd-807e-c9e3e38b1baf" SortOrder="1">servicePage</ContentType>
    <ContentType Key="a51be2dc-6e81-43d9-89d0-9de4d8ac6317" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a1964e19-e8ed-45ab-8a17-9d20b795d0f8</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>0164455c-b1af-4304-825b-6bf1d86cde8b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4f1ad713-2db8-49e8-b99c-b48192051cdf</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>