<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47b1b673-938e-4cdd-807e-c9e3e38b1baf" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-hammer</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="87e8cf7e-554b-4056-844d-f933a6b00eb3">pageBanner</Composition>
    </Compositions>
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b6ff60ec-bebc-4f55-a18c-fcd9574be1a7">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0cfa77fb-469f-491d-9de0-7e2168aa4472" SortOrder="0">serviceDetails</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>58dfa1b9-ba35-4562-8170-2ebd9b83ed95</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>0164455c-b1af-4304-825b-6bf1d86cde8b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>76f21770-1bb0-48fd-98ff-c8d41c92d797</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>