<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc381412-ea33-48d4-80d0-77ad8aa15fb8" Alias="01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T21:22:34</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2cujuxri/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>