<?xml version="1.0" encoding="utf-8"?>
<Media Key="c495fcfa-caa2-4020-ab01-65d7baade9c5" Alias="02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T21:22:52</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bbadojvz/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>