<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbb8b528-7a17-4c39-b4e1-8185d977b58c" Alias="03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T21:23:10</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1iebuwim/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>