<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8fa80c0-d7be-4110-913c-9b1a1a21a321" Alias="04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T21:23:22</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gi4fqgvf/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>