<?xml version="1.0" encoding="utf-8"?>
<Media Key="05b9f2a3-468a-4a8b-a27f-9fbc7aabef11" Alias="06.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T21:23:46</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kfhbxz2r/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>