<?xml version="1.0" encoding="utf-8"?>
<Media Key="7339fff6-78a8-4887-bc38-148ae883089f" Alias="Brandon.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T18:17:36</CreateDate>
    <NodeName Default="Brandon.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pe0h5rob/brandon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>