<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f610a4b-ec79-43cc-a09b-02035914cd5f" Alias="ceo-image.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ceoImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T16:52:51</CreateDate>
    <NodeName Default="ceo-image.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ytacpoiq/ceo-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>