<?xml version="1.0" encoding="utf-8"?>
<Media Key="29c371b7-e688-44e8-956f-ada7bb84898c" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T20:33:17</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ixggds2t/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>