<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa1d03be-e5f7-4c92-b290-0940ace09461" Alias="group-foto.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/groupFotosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T19:47:16</CreateDate>
    <NodeName Default="group-foto.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/js5l4ghm/group-foto.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>