<?xml version="1.0" encoding="utf-8"?>
<Media Key="70262cc9-0d73-4ab5-8ce9-df7fde8b5015" Alias="guy-footer.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/guyFootersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:25:08</CreateDate>
    <NodeName Default="guy-footer.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hoijjeti/guy-footer.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>