<?xml version="1.0" encoding="utf-8"?>
<Media Key="f931c55e-4075-40d1-b827-9ff4d0f85435" Alias="hero-img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T19:05:33</CreateDate>
    <NodeName Default="hero-img.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vr2jgg1o/hero-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>