<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b7c8e7d-656f-4c98-8a3a-aab6dc0c36f0" Alias="Icon facebook (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconFacebook1Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T15:18:42</CreateDate>
    <NodeName Default="Icon facebook (1).svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r2zn3slu/icon-facebook-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>