<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6fbde8e-9f8e-4053-8ef7-b3143e89021b" Alias="Icon twitter.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconTwittersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:24:25</CreateDate>
    <NodeName Default="Icon twitter.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/prrfsrev/icon-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>