<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1fc5b15-708b-4c1d-9a8a-d974320a2ec0" Alias="Icon facebook.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconFacebooksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:24:25</CreateDate>
    <NodeName Default="Icon facebook.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/25tf2e2q/icon-facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>