<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc197089-d4f4-4275-aacc-4245e4c38b85" Alias="Icon facebook.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconFacebooksvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:26:45</CreateDate>
    <NodeName Default="Icon facebook.svg (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ppglwlxp/icon-facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>