<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4a424b8-fdd0-4f36-b24b-60ae4ba1726a" Alias="Icon Linkedin.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconLinkedinsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:24:25</CreateDate>
    <NodeName Default="Icon Linkedin.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jkmbmvwl/icon-linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>