<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3ed7d15-2bf5-46a4-984d-90869e5e9c25" Alias="img_choose_01_home01 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home012svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T19:17:37</CreateDate>
    <NodeName Default="img_choose_01_home01 2.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/25ae4apo/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>