<?xml version="1.0" encoding="utf-8"?>
<Media Key="0607fc3b-36ad-46e9-8f50-3c48516d8b58" Alias="kevin-gardner-swebank.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerSwebankpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T17:56:34</CreateDate>
    <NodeName Default="kevin-gardner-swebank.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wq1edmge/kevin-gardner-swebank.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>