<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9fc91c2-994c-43d1-be86-740446b4fe94" Alias="Kevin-Gardner 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardner1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T18:41:30</CreateDate>
    <NodeName Default="Kevin-Gardner 1.png" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jvnluhzf/kevin-gardner-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>