<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e5fa491-31b8-40d9-9c7c-a6f15d65fa86" Alias="logo.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logosvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:25:30</CreateDate>
    <NodeName Default="logo.svg (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mmmp1tfd/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>