<?xml version="1.0" encoding="utf-8"?>
<Media Key="74c5d3ba-2be8-487b-a125-c700e8a48f58" Alias="logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-28T13:24:38</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jbxgpfxt/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>