<?xml version="1.0" encoding="utf-8"?>
<Media Key="14d4f722-a076-4174-ab51-a4c662ccb852" Alias="map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T20:47:23</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0bfhn3tn/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>