<?xml version="1.0" encoding="utf-8"?>
<Media Key="27248e14-38a8-4dff-9d28-8ed3e2e804ca" Alias="Mask-Group-8 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MaskGroup81png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-06T18:20:39</CreateDate>
    <NodeName Default="Mask-Group-8 1.png" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tncgfeob/mask-group-8-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>