<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e7d4ac8-b48f-4786-87c1-88ede163b650" Alias="meeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T20:33:43</CreateDate>
    <NodeName Default="meeting.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hl1n5teu/meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>