<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d3efbe0-afbe-49fc-9be4-d8b1e7eb2901" Alias="meeting-3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meeting3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T22:01:54</CreateDate>
    <NodeName Default="meeting-3.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cjdjzp3f/meeting-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>