<?xml version="1.0" encoding="utf-8"?>
<Media Key="705e0e25-a841-4e6b-940d-6cbd15ee6fdc" Alias="meeting-2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meeting2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T22:01:43</CreateDate>
    <NodeName Default="meeting-2.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04zpzes0/meeting-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>