<?xml version="1.0" encoding="utf-8"?>
<Media Key="396b11c6-5b31-4ebe-9285-add4508287a6" Alias="online-signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/onlineSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T15:27:37</CreateDate>
    <NodeName Default="online-signature.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gswmtwzk/online-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>