<?xml version="1.0" encoding="utf-8"?>
<Media Key="9549e1f3-eae1-4a78-aea1-3f72355e8e4a" Alias="risk-management.png" Level="2">
  <Info>
    <Parent Key="ce777f28-7204-4e90-b877-42b4b106fb7a">services images</Parent>
    <Path>/servicesImages/riskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-30T18:28:26</CreateDate>
    <NodeName Default="risk-management.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pqvb4i2i/risk-management.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>