<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce777f28-7204-4e90-b877-42b4b106fb7a" Alias="services images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/servicesImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T18:25:18</CreateDate>
    <NodeName Default="services images" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>