@import "tailwindcss";

@theme {
    --color-primary: #4F5955;
    --color-secondary: #D9C3A9;
    --color-accent: #F2EDDC;
    --color-white-100: #f7f7f7;
    --color-dark: #535656;
    --color-black: #0E0E0E;
    --font-poppins: "poppins", sans-serif;
}
body {
    @apply font-poppins;
}
.current a {
    @apply text-secondary;
}
.raw-html-from-text-editor h3 {
    @apply text-4xl text-primary font-bold;
}
.rich-text-editor-ul {
    @apply list-disc pl-5 mt-3;
}

.rich-text-editor-ul li {
    @apply text-sm text-dark mb-3;
}

.rich-text-editor-ul li::marker {
    @apply text-secondary;
}
