@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetails>
@using Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";
}

<Partial name="Partials/Layout/_PageBanner" model="(IPageBanner)Model" />

<section class="py-16 px-4 md:px-36">
	<div class="max-w-7xl mx-auto px-4">
		<div class="flex flex-row justify-between">
			<aside class="hidden md:flex flex-col w-4/12">
				@Html.GetBlockListHtml(Model.AsideWidgets)
			</aside>
			<div class="hidden md:block w-px bg-gray-300"></div>
			<div class="flex flex-col w-full md:w-7/12 gap-3">
				<div>@Html.Raw(Model.ServiceDetailPageContent)</div>
			</div>
		</div>
	</div>	
</section>

@Html.GetBlockListHtml(Model.Sections)