<?xml version="1.0" encoding="utf-8"?>
<DataType Key="521c9f0f-8565-44e7-bfe5-b8567134c8e0" Alias="About Us Settings - Show CEO - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>About Us Settings - Show CEO - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>