<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ef9dcdd-157d-4b0b-8d48-23b03593d5e9" Alias="Onatrix Trust Settings - Image Left - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Onatrix Trust Settings - Image Left - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>