<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0164455c-b1af-4304-825b-6bf1d86cde8b" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e820a6db-c95b-4284-acf3-c160a48bec31"
    },
    {
      "contentElementTypeKey": "496f56ab-1a2c-42b5-bb61-98a4089d4ba6",
      "settingsElementTypeKey": "c0156383-64dd-4afc-9085-edb2a7b80e88"
    },
    {
      "contentElementTypeKey": "f86778a6-4afb-47f0-bde6-00f6ba3ea3dd"
    }
  ]
}]]></Config>
</DataType>