<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0164455c-b1af-4304-825b-6bf1d86cde8b" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e820a6db-c95b-4284-acf3-c160a48bec31"
    },
    {
      "contentElementTypeKey": "496f56ab-1a2c-42b5-bb61-98a4089d4ba6",
      "settingsElementTypeKey": "c0156383-64dd-4afc-9085-edb2a7b80e88"
    },
    {
      "contentElementTypeKey": "f86778a6-4afb-47f0-bde6-00f6ba3ea3dd"
    },
    {
      "contentElementTypeKey": "0cd00f97-7948-4dbd-8e61-95d732451f83"
    },
    {
      "contentElementTypeKey": "d10f2b98-3ddd-4a1e-b1e4-edc3cee6bc83",
      "settingsElementTypeKey": "d9b495b2-7220-4c35-875f-e4dbde635491"
    },
    {
      "contentElementTypeKey": "47cf216f-7a27-4058-8d9f-2afca4004600"
    },
    {
      "contentElementTypeKey": "3de0cc18-e8d6-4642-a915-b9cb3832dc14"
    },
    {
      "contentElementTypeKey": "566e3227-ae8c-4b1e-beea-2825432c6af1"
    },
    {
      "contentElementTypeKey": "e20b6913-3e94-4b7d-b27f-787b46e42996"
    }
  ]
}]]></Config>
</DataType>