<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d1bf9ce-9776-4d2d-9d30-a589eb2b0ffa" Alias="Onatrix Trust Settings - Show Url " Level="1">
  <Info>
    <Name>Onatrix Trust Settings - Show Url </Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>