<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb7514e7-6560-41b8-b274-1055887870a8" Alias="Page Meta Data - MetaDataDescription - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Page Meta Data - MetaDataDescription - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>