<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83ac443b-7dfb-4e7f-bb56-4232373f5b65" Alias="Partner Logo" Level="1">
  <Info>
    <Name>Partner Logo</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35d6177b-d20b-47d7-898f-3016e05f1545"
    }
  ]
}]]></Config>
</DataType>