<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb1c6997-a5f6-4d96-9961-e80fa5d88d70" Alias="Section Background Color" Level="1">
  <Info>
    <Name>Section Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "fff",
      "label": "white"
    },
    {
      "value": "f7f7f7",
      "label": "white-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>