<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98aa66f3-67e5-4779-9bbf-a12af0e7fca2" Alias="Service Details Aside Content" Level="1">
  <Info>
    <Name>Service Details Aside Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6540d571-eb3e-4d7f-919b-8b3f856e1f3f"
    }
  ]
}]]></Config>
</DataType>