<?xml version="1.0" encoding="utf-8"?>
<DataType Key="213d6604-6a55-41ec-894a-ff6383985d63" Alias="Service Settings - Show Service Label - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Show Service Label - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>