<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f6652fb-5c7c-4f5b-8355-bddd0468c218" Alias="Site Settings - Email Sales - Email Property Editor UI" Level="1">
  <Info>
    <Name>Site Settings - Email Sales - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>