<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3b7b635-0652-4363-aa4f-e6188ab38634" Alias="Social Medias" Level="1">
  <Info>
    <Name>Social Medias</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7d4f6ec3-16ad-4b0f-9f7f-94ecd6062297",
      "label": "{umbValue: socialMediaName}"
    }
  ]
}]]></Config>
</DataType>