<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5baa0d4e-36f5-4909-bacb-98b8610bc5e4" Alias="Success Stats" Level="1">
  <Info>
    <Name>Success Stats</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "043c4737-48af-42e1-b3d1-92c8f86b9b87"
    }
  ]
}]]></Config>
</DataType>