<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9319b56-9124-4df6-a073-e3e39a89ec46" Alias="Team Section - Team Members - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Team Section - Team Members - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8528bbbf-8c9e-468c-94fa-0f373e80415f",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>